h2{
  color: darkgrey;
  text-align: center;
}

.intro {
  background-color: gold;
 color: white;
}

img {
  float:left;
}
p{
  background-color: #ccba80;
  font-family: monospace;
}

body{
  margin-left: 30%;
  margin-right: 30%;
}
